# Node logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage & build
coverage
*.lcov
.nyc_output
build/
dist/
.next
.nuxt
.cache
.parcel-cache
.vuepress/dist
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tsbuildinfo
*.tgz
.yarn/*
.pnp.*
.yarn-integrity

# dotenv environment files
.env
.env.*
!.env.example

# Misc
.tern-port
.vscode-test
